
div{  ;}
.center{text-align: center;}
    
h1{
   font-family: Arial, Helvetica, sans-serif;
     
      
}
text{
    font-family:Arial, Helvetica, sans-serif ;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #1ED760;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #1ED760;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1ED760;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #c6c7c8;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #ffffff;
    text-align: var(--bs-body-text-align);
    background-color: #000000;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.text-body-emphasis {
    --bs-text-opacity: 1;
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
}
.text-body-secondary {
    --bs-text-opacity: 1;
    color: rgb(255 255 255 / 75%) !important;

}
.btn-outline-secondary {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}